{% extends "layout/_template.njk" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}

{%  
    set pageConfig = {
        "header": {
            "title": 'TLFS Survey Assist Prototype',
            "orgLogoHref": 'https://www.ons.gov.uk',
            "titleLogoHref": "/",
            "mastheadLogo": {
              "large": '<img class="logo" src="https://cdn.ons.gov.uk/assets/images/ons-logo/v2/ons-logo.svg" height="150" width="250" alt="Office for National Statistics logo">'
            },
            "titleLogo": "/",
            "navigation": navigation.navigation,
        },
        "meta": {
            "canonicalUrl": "/",
            "description": "/",
        },
        "footer": {
            "OGLLink": true,
            "legal": [
            ],
              },
    }
%}
{% block main %}  
{{
    onsPanel({
        "id": 'warning-id',
        "body": 'Contact <strong>steve.gibbard@ons.gov.uk</strong> for access to this page',
        "spacious": false
    })
}}  
    <p></p>
    <h1>ONS Mock Up</h1>
{% endblock %}